<ion-view title="Contact">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/HVC7QJbQDqtYybKCap12_6345194585_0e03a8eb7c_b.jpg) no-repeat center;" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Assisted information</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Firstname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Lastname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Addres">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Phone number">
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Assistant information</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="First name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Lastname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Phone number*">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Second phone number*">
            </label>
        </form>
    </ion-content>
</ion-view>