<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/WhrgsHALQqOmepB6kWJ2_6345194585_0e03a8eb7c_b.jpg) no-repeat center;" class="has-header">
        <form class="list"></form>
        <form class="list"></form>
        <div style="text-align:center;">
            <img src="img/zum1vzSShGicMrKyzzLQ_airedale_terrier_puppy.jpg" width="90%" height="auto">
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">User name:</span>
                <input type="text" placeholder="user">
            </label>
            <label class="item item-input">
                <span class="input-label">Password:</span>
                <input type="password" placeholder="pass">
            </label>
        </form>
        <a ui-sref="home" class="button button-positive button-block  button-full">Login</a>
        <a ui-sref="menu.mOOI" class="button button-positive button-block ">Login as assistant</a>
        <form class="list"></form>
    </ion-content>
</ion-view>