<ion-view title="MOOI">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/wCiPCO6BSqKLt6znaZzd_6345194585_0e03a8eb7c_b.jpg) no-repeat center;" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <div style="color:#fff ;font-weight: bold">
            <p>
                Hello!</p>
            <p>Wellcome to Mooi, a tele-assistance progam.</p>
            <p>You can check the program status, and send "OK?" to your assisted.
            </p>
        </div>
        <div class="button-bar"></div>
        <button class="button button-stable button-block ">Are you OK?</button>
    </ion-content>
</ion-view>